ul, li {
    font-size: 0.8em !important;
}

li {
    margin: 10px 0 !important;
}

p {
    text-align: justify !important;
    font-size: 0.8em !important;
}

.blue-highlight {
    color: cornflowerblue !important;
}

.red-highlight {
    color: rgb(255, 97, 97) !important;
}

.green-highlight {
    color: seagreen !important;
}